logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt

# Ignore Play! working directory
bin
db
eclipse
lib
log
logs
modules
precompiled
target
tmp
test-result
server.pid
*.iml
*.eml