@(message: String)

@main("Carer's Allowance Decision Service") {

<header class="page-header group">
  <div class="grid-wrapper">
	  <h1>Carer's Allowance Decision Service</h1>
  </div>
  </header>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>


  
  <div class="grid-wrapper">
  	  <div class="grid grid-3-4">
	    <select id="nino">
   	   		<option value="CL100100A">Case 1</option>
			<option value="CL100101A">Case 2</option>
			<option value="CL100102A">Case 3</option>
			<option value="CL100104A">Case 4</option>
			<option value="CL100105A">Case 5</option>
			<option value="CL100106A">Case 6</option>
			<option value="CL100107A">Case 7</option>
			<option value="CL100108A">Case 8</option>
			<option value="CL100109A">Case 9</option>
			<option value="CL100110A">Case 10</option>
			<option value="CL100111A">Case 11</option>
			<option value="CL100112A">Case 12</option>
			<option value="CL100113A">Case 13</option>
			<option value="CL100114A">Case 14</option>
			<option value="CL100115A">Case 15</option>
			<option value="CL100116A">Case 16</option>
			<option value="CL100117A">Case 17</option>
			<option value="CL100118A">Case 18</option>
			<option value="CL100119A">Case 19</option>
			<option value="CL800119A">Case 20</option>
			<option value="CL801119A">Case 21</option>
			<option value="CL1PA100">Case 22</option>
	    </select>
	  </div>
	  <div class="grid grid-1-4">  
	    <button id="loadXmlButton">Load XML</button>
	  </div>
  </div>
  <div class="grid-wrapper">
	  <div class="grid">
	    <h2>Claim XML:</h2>
	  </div>
  </div>
  <div class="grid-wrapper">
	  <div class="grid grid-3-4">
	    <textarea id="claimXml"></textarea>
	  </div>
	  <div class="grid grid-1-4">  
	    <div><button id="submitClaimButton">Submit XML</button></div>
	    <br/>
	    <div>Submission date:</div>
	    <input type="text" id="claimDate" value="2010-10-10"></input>
	  </div>
  </div>
	<div id="results">
	  <div class="grid-wrapper">
		  <div class="grid">
			    <h2>Results:</h2>
		  </div>
	  </div>
  		<div class="grid-wrapper">
			<div class='grid' id='dc-bar-time'>
				<h3>Award profile</h3>
				  <div id="timeline">
				  <h3>Submit a Claim to view Results</h3>
				  </div>
				<span class="reset" style="display: none;">   <span class="filter"></span></span>
			</div>
		</div>

  		<div class="grid-wrapper">
			<div class='grid table-graph'>
				<h3>Award details</h3>
				<table class='table table-hover dc-data-table' id='dc-table-graph'>
					<thead>
						<tr class='header'>
							<th>Award Date</th>
							<th>Award Amount</th>
							<th>Reason</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>  
}
